body {
    background-image: linear-gradient(135deg, rgb(255, 219, 190) 0%, rgb(255, 243, 236) 50%, rgb(255, 213, 213) 100%);
}

input, textarea, select, button {
    color: #333;
    font-size: 13px
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0
}

img {
    max-width: 100%
}

ul {
    padding-left: 0;
    margin-bottom: 0
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.inner {
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
    box-shadow: 0 0 1rem #626262;
    border-radius: 1rem;
}

.inner .image-holder {
    width: 50%
}

.inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px
}

.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px
}

.form-wrapper {
    margin: 0 0 0.5rem 0;
}

.form-wrapper input {
    margin: 0;
}

.form-wrapper i {
    font-size: clamp(0.6rem, 5vw, 0.8rem);
    color: #fa5454;
    margin: 0;
}

.form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px
}

.form-control::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
}

.form-control::-moz-placeholder {
    font-size: 13px;
    color: #333;
}

.form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
}

.form-control:-moz-placeholder {
    font-size: 13px;
    color: #333;
}

.form-button {
    margin: 2rem 0 0 0;
}

.form-button p {
    font-size: clamp(0.6rem, 5vw, 0.8rem);
    color: #fa5454;
    margin: 0 auto;
    width: fit-content;
}

button {
    border: none;
    width: 164px;
    height: 51px;
    margin: 1rem auto 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

button:hover i, button:focus i, button:active i {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

.inner p {
    margin: 1rem auto 0 auto;
    width: fit-content;

    a {
        width: 100%;
        height: 100%;
        color: #9a9a9a;
    }
}

@media (max-width: 1199px) {
    .wrapper {
        background-position: right center
    }
}

@media (max-width: 991px) {
    .inner form {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px
    }
}

@media (max-width: 767px) {
    .inner {
        display: block
    }

    .inner .image-holder {
        width: 100%
    }

    .inner form {
        width: 100%;
        padding: 40px 0 30px
    }

    button {
        margin-top: 60px
    }
}
